Design-Patterns/.gitattributestarget/classes/duckclasses/DuckMain.classtarget/classes/duckclasses/FlyWithWings.classtarget/classes/duckclasses/MallardDuck.classDesign-Patterns/.gitattributesDesign-Patterns/.gitattributes